In [11]:
import pandas as pd
from sqlalchemy import create_engine

# Define the PostgreSQL URL
postgresql_url = 'postgresql://airflow:airflow@173.212.221.185:5432/airflow'

# Create an engine
engine = create_engine(postgresql_url)

# Establish a connection
connection = engine.connect()

In [13]:
price_data = pd.read_sql('Select * from crypto_price_data;',connection, index_col='timestamp')
depth_data = pd.read_sql('Select * from crypto_depth;',connection)
avgprice_data = pd.read_sql('Select * from crypto_avgprice;',connection)
ticker_data = pd.read_sql('Select * from crypto_ticker;',connection)

In [14]:
price_data

                            id   symbol     price  processed
timestamp
2024-08-02 18:25:09.536314   1  BTCUSDT  63173.99      False